---
- name: Apply ELK Namespace
  command: minikube kubectl -- apply -f k8s-local/elk/00-namespace.yaml

- name: Apply Elasticsearch
  command: minikube kubectl -- apply -f k8s-local/elk/01-elasticsearch.yaml

- name: Apply Logstash
  command: minikube kubectl -- apply -f k8s-local/elk/02-logstash.yaml

- name: Apply Kibana
  command: minikube kubectl -- apply -f k8s-local/elk/03-kibana.yaml

- name: Apply Filebeat
  command: minikube kubectl -- apply -f k8s-local/elk/04-filebeat.yaml

- name: Wait for Elasticsearch to be ready
  shell: minikube kubectl -- wait --namespace logging --for=condition=ready pod --selector=app=elasticsearch --timeout=300s
  ignore_errors: true

- name: Wait for Kibana to be ready
  shell: minikube kubectl -- wait --namespace logging --for=condition=ready pod --selector=app=kibana --timeout=300s
  ignore_errors: true
